$black-color : #0F0F10;
$brown-color : #C1956E;
$grey-color  : #7F878E;
$color: #F0F0C9;
$font-1 : "Inconsolata", monospace;
$font-2 : 'Lato', sans-serif;
$font-3 : 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding:0px;
    margin: 0px;
    // background-image: url('../assets/about/about-front.webp');
    // width: 100%;
    // height: auto;
    // background-repeat:no-repeat;
    // background-size: 100% 100%;
    height: 560px;
    background-color: $black-color!important;

}
a:link { text-decoration: none!important; }


a:visited { text-decoration: none!important; }


a:hover { text-decoration: none!important; }


a:active { text-decoration: none!important; }

.bg-black {
    background-color: $black-color!important;
    
}

.nav-item {
    font-family: $font-1;
    color: white;
    padding-right: 10px;
    padding-left: 5px;
}

.navigation {
    background-color: #0F0F10;
    white-space: nowrap;
    margin-bottom: 0;
}

.blog-header-logo img {
    position: relative;
    z-index: 10;
    width: 100px;
    top: 15px;
    right: 80px;
    
}
.nav-scroller {
    margin-top: 10px;
    padding-top: 35px;
    margin: 0;
    padding-bottom: 0px;
    // margin-bottom: 40px;
    color: #ffff!important;
    font-weight: 400;
}

a .mt-2 .text-muted{
    color: white!important;
    font-weight: bold;
}

 .nav-link {
    color: white!important;
    text-transform: uppercase;
    font-family: $font-1;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: $brown-color;
}

.navbar-toggler{
    color: white;
    border: 0px;
    border-radius: 0px;
}

nav.navbar {
    padding-bottom: 20px!important;
}
.offers-screen {
    padding-top: 60px!important;
    .panel {
        width: 90%;
        // min-width: 700px;
        margin: 5rem auto;
        background-color: $brown-color;
        height: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top:3rem;
        padding-bottom: 5rem;

        h1.head-off {
            font-size: 60px;
            font-family: $font-1;
            color: $black-color;
            font-weight: bold;
        }

        p.para-off{
            font-size: 20px;
            font-family: $font-2;
            color: $black-color;
            font-weight: 500;
            margin-top: 2rem;
        }

        button.button-off {
            border-radius: 0px;
            font-size: 15px;
            background-color: black;
            color: $brown-color;
            font-weight: 500;
            margin-top: 1rem;
            width: 160px;
        }
    }

    .section-panel {
        background-color: white;
        margin-top: 2rem;
        height: 420px;
        width: 100%;
        // min-width: 350px;
        position: absolute;
        top: -2rem;
        right: 4rem;
        
        .off-circle {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: $black-color;
            position: absolute;
            top: -2rem;
            left: 3rem;
            color: $brown-color;
            padding-top: 7%;
            font-size: 30px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 50px;
                line-height: 1;
            }

            
        }
    }
}

@media screen and (max-width: 767px) {
    .offers-screen {
        padding-right: 10px;
        // width: 50%;
        .section-panel {
            
            position: relative!important;
            right: 0rem;

            .off-circle {
                top: 20rem;
                left: 20rem;
                height: 120px;
                width: 120px;
                font-size: 25px;

                h1 {
                    font-size: 40px;
                }

                h6 {
                    font-size: 13px;
                }
            }
            
        }
    
        .panel {
            width: 100%!important;
            
            margin: 0rem;
        }        
    }
}

@media screen and (max-width:517px) {
    .off-circle {
        left: 17rem!important;
    }
}

@media screen and (max-width:403px) {
    .off-circle {
        left: 11rem!important;
    }
}

@media screen and (max-width:415px) {
    .off-circle {
        left: 10rem!important;
    }
}

@media screen and (max-width:360px) {
    .off-circle {
        left: 9rem!important;
    }
}

footer {
    background-color: $black-color;
    height: auto;
    padding-top: 9rem;
    padding-bottom: 5rem;
    h4 {
        color: white;
        font-family: $font-1;
    }
    p {
        color: white;
        font-family: $font-2;
        padding-top: 2rem;
       
    }
    svg {
        height: 50px;
        width: 50px;
        color: white;
        padding-left: 20px;
    }
    h5 {
        color: white;
        font-family: $font-2;
        padding-top: 10px;
    }
}

